*{
    padding: 5px;
}
#titulo_principal{
    color: gray;
}
body{
    background-color: #0d1321;
    color:#f0ebd8;
}
h1{
    color:#f0ebd8;
    text-align: center;
}
h2{
    color: #748cab;
}
p{
    color: burlywood;
}
.p-negativo{
    color:darkblue;
}
div{
    text-align: center;
    border: 10px solid black;
    background-color: midnightblue;
}
.tarjeta{
    background-color: orangered;
    border: 1px solid cyan;
    margin: auto 100px;
}
.titulo{
    color:#0d1321;
}
.titulo-negativo{
    color:#f0ebd8;
}
hr{
    padding: 1px;
    border:none;
    height: 2px;
    background:radial-gradient(closest-side,#1d2d44,#0d1321);
    margin: auto 50px;
}
a:link{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#1d2d44;
    text-decoration: none;
    text-align: center;
}
a:visited{
    color:#3e5c76;
}
a:hover{
    color: #748cab;
    font-size:large;
}
a:active{
    color:#f0ebd8;
}