h1{
    color:burlywood;
    background: linear-gradient(90deg,#5E5241,#DEB887);
    padding: 10px;
    border: 15px solid red;
    /* margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 150px;
    margin-left: 5px; 
    margin: 100px 10px 150px 0px*/
    margin: auto 100px;
    text-align: center;
    
}
body{
    background-color: #DEB887;
}
hr{
    border:none;
    height: 2px;
    background:radial-gradient(closest-side,#1d2d44,#0d1321);
    margin: auto 50px;
}
a:link{
    color:#1d2d44;
    text-decoration: none;
}
a:visited{
    color:#3e5c76;
    text-decoration: none;
}
a:hover{
    color: #748cab;
    font-size:large;
}
a:active{
    color:#f0ebd8;
}